/node_modules
/public/storage
/public/hot
/public/docs
/storage/*.key
/storage/mpdf/*
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/storage/mpdf/*
.vscode/
/public/uploads

/storage/debugbar

.bash_history
/.cache
/.config
/.local
/storage/config.json
/storage/config.firebase.json
/storage/google-big-query.json
/storage/pjt-list.json
/storage/sentral-list.json
/storage/config.json
/storage/dialogflow.json
yarn-error.log
google-cloud.yaml
/storage/dialogflow.json
public/err.txt
grpc/
storage/vendor-list.json
/storage/google-oauth.json
/storage/list-flip.json

